<div class="parent">
  <div class="container">
    <form [formGroup]="userForm" (ngSubmit)="login()">
      <h1>Login</h1>

      <div class="input-box">
        <input type="text" formControlName="username" placeholder="Username" />
        <i class='bx bx-envelope'></i>
        <div class="text-danger" *ngIf="userForm.get('username')?.touched && userForm.get('username')?.hasError('required')">
          <span>This is required</span>
        </div>
      </div>

      <div class="input-box">
        <input type="password" formControlName="password" placeholder="Password" />
        <i class='bx bx-lock-alt'></i>
        <div class="text-danger" *ngIf="userForm.get('password')?.touched && userForm.get('password')?.errors">
          <span *ngIf="userForm.get('password')?.hasError('required')">This is required</span>
          <span *ngIf="userForm.get('password')?.hasError('minlength')">Minimum 4 characters required</span>
        </div>
      </div>

      <div *ngIf="loginError" class="error-message">
        {{ loginError }}
      </div>

      <div class="remember">
        <label>
          <input type="checkbox" formControlName="rememberMe" /> Remember me
        </label>
        <a routerLink="/forgot-password">Forgot password?</a>
      </div>

      <button class="btn" type="submit">Login</button>

      <div class="register">
        <p>Don't have an account? <br />
          <a routerLink="/register">Register</a>
        </p>
      </div>
    </form>
  </div>
</div>
